@media screen and (min-width: 768px) and (max-width: 1023px) {
  img {
    position: absolute;
    width: 23% !important;
    top: 38% !important;
    transform: translateX(19rem) !important;
    border-radius: 10% !important;
  }
}
